.chat {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border: 2px solid #d5e3c3;
  &__messages-list {
    height: 100px;
    overflow-y: scroll;
  }
  &__form {
    display: flex;
  }
  &__input {
    width: 93%;
    border: 2px solid #d5e3c3;
  }
  &__btn {
    background-color: #000000;
    color: #ffffff;
    padding: 4px;
    border: 2px solid #d5e3c3;
  }
}
