.language {
  position: fixed;
  right: 2%;
  top: 2%;
  height: 3rem;
  //background-image: url('../assets/icons/united-kingdom-flag-icon.svg');
}

//.language-option {
//  background-image: url('../assets/icons/russia-flag-icon.svg');
//}
