@import './../../index';

.app-enter-buttons__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 50px;
}

.app-enter-buttons__button {
	text-decoration: none;
	color: #6b5770;
	background-image: linear-gradient(90deg, #fd7f34, #bd155b);
	display: inline-block;
	padding: 14px 30px;
	border: 1px solid;
	position: relative;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	font-size: 2rem;
  font-weight: bold;
}
.app-enter-buttons__button:before {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: linear-gradient(90deg, #fd7f34, #bd155b);
	z-index: -2;
	transition: .4s;
	border-radius: 5px;
}
.app-enter-buttons__button:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #fff, #fff);
	z-index: -1;
	transition: .4s;
	border-radius: 4px;
}
.app-enter-buttons__button:hover {
	color: #fff;
	transition: .3s;
}
.app-enter-buttons__button:hover:after {
	background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.app-enter-buttons__button:active:after {
	background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.app-enter-buttons__button:focus-visible {
	box-shadow: 0 0 0 3px #fd7f34;
}

@media (max-width: 850px) {
  .app-enter-buttons__button {
    font-size: 1.2rem;
	}
}