@import './../../index';

.form__title {
  color: $color-title;
  margin-bottom: 30px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form__input {
  border-radius: 4px;
  border: 1px solid white;
  padding: 1rem 1.5rem;
}

.form__error-msg {
  color: $color-button_exit;
  font-weight: bold;
  font-size: 2rem;
}

.auth-form__input {
  cursor: pointer;
}

.submit__error-msg {
  text-align: center;
  margin-bottom: 20px;
}

.button__back {
  margin-top: 40px;
}