@import '../index';

.start-page-container {
  background: no-repeat url('../assets/images/background_start_page1.jpg') ;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.app-title span {
  font-size: 15rem;
	text-shadow: 4px 3px 2px #00eaff, 3px 3px 2px #02f1ff;
  color: #0d1012;  
  height: 846px;
  position: absolute;
  width: 214px;
  left: 600px;
  top: 0;
  transform-origin: bottom center;
  text-transform: capitalize;
}

.char1 {
  transform: rotate(-50deg);
}

.char2 {
  transform: rotate(-40deg);
}

.char3 {
  transform: rotate(-30deg);
}

.char4 {
  transform: rotate(-20deg);
}

.char5 {
  transform: rotate(-10deg);
}

.char6 {
  transform: rotate(0deg);
}

.char7 {
  transform: rotate(10deg);
}

.char8 {
  transform: rotate(20deg);
}

.char9 {
  transform: rotate(30deg);
}

.char10 {
  transform: rotate(40deg);
}

.char11 {
  transform: rotate(50deg);
}

.logo__rsSchool {
  background-image: url(../assets/icons/rs_school_js.svg);
  background-repeat: no-repeat;
  width: 110px;
  height: 50px;
  display: block;
  position: absolute;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}

.form-container {
  padding: 50px;
  border-radius: 8px;
  background: $color-block-form;
  position: absolute;
  max-width: 40%;
  right: 15%;
  top: 40%;
}

@media (max-width: 1700px) {
	.app-title span {
		position: unset;
	}
	.form-container {
		padding: 0px;
	}
}

@media (max-width: 1000px) {
	.form-container {
		padding: 0px;
	}
}

@media (max-width: 850px) {
	.app-title span {
		font-size: 10rem;
	}
	.app-enter-buttons__button {
		font-size: 1.2rem;
	}
}