@import '../index';

.start-page-container {
  background: no-repeat url('../assets/images/background_start-page.jpg') ;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.app-title span {
  font-size: 15rem;
  text-shadow: 4px 3px 2px $color-text, 3px 3px 2px $color-text;
  color: $color-title;
  height: 846px;
  position: absolute;
  width: 214px;
  left: 600px;
  top: 0;
  transform-origin: bottom center;
  text-transform: capitalize;
}

.char1 {
  transform: rotate(-50deg);
}

.char2 {
  transform: rotate(-40deg);
}

.char3 {
  transform: rotate(-30deg);
}

.char4 {
  transform: rotate(-20deg);
}

.char5 {
  transform: rotate(-10deg);
}

.char6 {
  transform: rotate(0deg);
}

.char7 {
  transform: rotate(10deg);
}

.char8 {
  transform: rotate(20deg);
}

.char9 {
  transform: rotate(30deg);
}

.char10 {
  transform: rotate(40deg);
}

.char11 {
  transform: rotate(50deg);
}

.logo__rsSchool {
  background-image: url(../assets/icons/rs_school_js.svg);
  background-repeat: no-repeat;
  width: 110px;
  height: 50px;
  display: block;
  position: absolute;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}
