.playing-card_hide {
  background: no-repeat center/115% url('../../assets/cards/cardFacce.jpg');
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  width: 43px;
  height: 68px;

  transition: all 0.2s ease-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

  color: #000;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}


.player__timer {
  position: absolute;
  top: 133px;
  right: -19px;
}

.retired-player {
  opacity: 0.4;
}

