.language {
  position: fixed;
  right: 2%;
  top: 2%;
  height: 3rem;
  z-index: 5;
  //background-image: url('../assets/icons/united-kingdom-flag-icon.svg');
}

.language-option {
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  &_ru {
    background: url('../../assets/icons/russia-flag-icon.svg') no-repeat right 5px center;
  }
  &_en {
    background: url('../../assets/icons/united-kingdom-flag-icon.svg') no-repeat right 5px center;
  }
}
