.cardWrapper {
	background-color: white;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  width: 43px;
  height: 68px;

  transition: all 0.2s ease-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

  color: #000;
  user-select: none;

  &[data-suit='diamonds'],
  &[data-suit='hearts'] {
    color: red;
  }

  &:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
  }

  & .cardInfo {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    text-align: center;

    & img {
      height: 10px;
      width: 10px;
    }

    &.top {
      top: 1px;
      left: 30px;
    }

    &.bottom {
      bottom: 1px;
      right: 30px;
      transform: rotate(180deg);
    }
  }

  & .cardSuit img {
    height: 16px;
    width: 16px;
  }

  &[data-highlight='true'] {
    box-shadow: 0 0 1px 3px rgb(255, 8, 75);
  }

  display: flex;
  align-items: center;
  justify-content: center;
}